// REUSABLE CSS

%true-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

%zero-pm {
  padding: 0;
  margin: 0;
}

%white-bg {
  background: #fff;
  color: #000;
}

%color-bg {
  background: #b6d0f9;
  color: #000;
}

// MAIN PROPERTIES

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial;
}

h1, h2, h3, h4, h5, h6, ul, p {
  @extend %zero-pm;
}

ul {
  list-style: none;
}

main section {
  @extend %true-center;
  flex-direction: column;
  overflow: hidden;
}

// VARIABLES

$max-width: 1000px;

$nav-height: 75px;

// COLORS
.blue0 {
  color: #3d6799;
}

.blue1 {
  color: #759ed8;
}

.blue2 {
  color: #3f75bf
}

.blue3 {
  color: #305193;
}

.grey1 {
  color: #898888;
}

.grey2 {
  color: #6d6c6c;
}

.invisible {
  opacity: 0;
}

// START CONTAINERS

.container-fluid {
  @extend %true-center;
  flex-direction: column;
  max-width: 1000px;
  margin: 125px auto;
  padding: 0px 10px;

  // TITLE
  .section-title {
    text-align: center;

    h2 {
      font-family: Lora;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 8px;
    }
    p {
      color: #6d6c6c;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
  // ROW
  .row {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.circle-container {
  @extend %true-center;
  border-radius: 50%;
  margin: 0 auto;
}

.separated {
  overflow: hidden;
  & > * {
    box-shadow: -1px -1px 0px 0px #ddd;
  }
}

.boxed {
  border-radius: 0.25rem;
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, .1);
  background-color: #fff;
}

// END CONTAINERS

// START BACKGROUND

.background {
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 100vh;
  min-height: 700px;
}

// END BACKGROUND

// START NAVIGATION

nav {
  @extend %true-center;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background: #fff;
  transition: all .5s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

  // NAVBAR
  .nav {
    display: flex;
    align-items: center;
    width: $max-width;
    height: $nav-height;
    padding: 0 10px;

    // NAV BRAND
    &-brand {
      margin-right: auto;

      h1 {
        @extend %zero-pm;
        font-family: Lora;
        font-size: 2rem;
        color: #000;
      }
      a {
        text-decoration: none;
        color: black;
      }
      img {
        filter: contrast(100%);
        height: $nav-height - 20px;
        width: auto;
      }
    }
    // NAV BUTTON
    &-button-wrapper {
      display: none;
      padding: 10px;
      padding-right: 0;
      background: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
    &-button {
      position: absolute;
      opacity: 0;
      width: 35px;
      height: 26px;

      span {
        display: block;
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
        background: #3d6799;
        border-radius: 9px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }
      span:nth-child(2), span:nth-child(3) {
        top: 11px;
      }
      span:nth-child(4) {
        bottom: 0px;
      }
    }
    // ACTIVE BUTTON STYLING
    &-button.active {

      span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
      span:nth-child(2) {
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
      }
      span:nth-child(4) {
        bottom: 11px;
        width: 0%;
        left: 50%;
      }
    }

    // NAV LINKS
    &-list {
      margin-left: auto;

      ul {
        @extend %zero-pm;
        list-style-type: none;
      }
      li {
        @extend %zero-pm;
        margin-left: 10px;
        display: inline;
      }
      a {
        color: #000;
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding: 7px 10px;
        margin: 0;
        transition: all 0.4s ease;
      }
      a:hover, a.current {
        color: #3d6799;
      }
      a:before, a:after {
        position: absolute;
        content: '';
        left: 0px;
        width: 100%;
        height: 2px;
        background: #3d6799;
        //border-radius: 40%;
        opacity: 0;
        transition: all 0.4s ease;
      }
      a:before {
        top: 0px;
        transform: translateY(15px);
      }
      a:after {
        bottom: 0px;
        transform: translateY(-15px);
      }
      a:hover:before, a:hover:after,
      a.current:before, a.current:after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

// END NAVIGATION

//--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// START HEADER

.header {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  @extend %true-center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  color: white;

  h1, p {
    text-align: center;
    font-weight: 400;
  }

  h1 {
    font-family: Lora;
    font-size: 3.9rem;
    margin-bottom: 40px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .button1 p {
    font-size: 1.3rem;
  }
}

// END HEADER

// START ABOUT

#about, #contact {
  @extend %white-bg;

  // INFO COLUMNS
  .info {
    margin-top: 75px;
  }
  // COLUMN 1
  .info:nth-child(1) {
    padding: 40px 60px 40px 0px;
    text-align: right;

    h3 {
      color: #3f75bf;
      font-family: Lora;
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
    }
    hr {
      max-width: 300px;
    }
  } // COLUMN 2
  .info:nth-child(2) {
    padding: 0;

    // ACCORDION
    .accordion {
      margin: 0 auto;
      max-width: 600px;
      // CARDS
      .card {
        border: none;
        box-shadow: none;
        overflow: visible;
        .card-header {
          border: none;
          background: transparent;
          padding: 0px;
          margin-bottom: 2px;
        }
        .card-body {
          p {
            text-align: justify;
            letter-spacing: 0px;
          }
        }
      }
      .card + .card {
        .card-header {
          padding-top: 20px;
        }
      }
    }
  } // COLUMN 3
  .info:nth-child(3) {
    padding: 30px 0px 0px 60px;
    ul {
      width: 260px;
    }
    // ICONS / TEXT
    li + li {
      padding-top: 20px;
    }
    .intro-icon {
      color: #3f75bf;
      float: left;
      padding-right: 10px;
      font-size: 3.7rem;
    }
    .icon-title {
      font-family: Lora;
      font-size: 1.4em;
      font-weight: 400;
      line-height: -5px;
    }
  }
}

// END ABOUT

// START SERVICES

#services {
  @extend %color-bg;

  .row {
    margin-top: 60px;

    .svs-col {
      padding: 10px;
    }
    .circle-container {
      transition: all 0.3s ease;
      border: 7px solid #6d6c6c;
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      background: #fff;
      color: #6d6c6c;

      .svs-icon {
        color: #6d6c6c;
        font-size: 4.75rem;
      }
    }
  }
}

// END SERVICES

// START BANNER1

.banner1 {
  color: white;
  background: rgba(0, 0, 0, 0.4);
  .container-fluid {
    padding: 0 10px;
  }
  .section-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: Lora;
      font-weight: 400;
      margin: 0px;
    }
    p {
      color: white;
      font-weight: 400;
    }
  }
}

// END BANNER1

// START TEAM SECTION

#team {
  @extend %white-bg;

  .row {
    margin-top: 75px;

    .team-col {
      @extend %true-center;
      flex-flow: column wrap;
      padding: 2%;
    }
  }
}

// END TEAM SECTION

// START PROMISE SECTION
#promise {
  @extend %color-bg;

  .row {
    padding: 0px;
    margin-top: 75px;
    flex-direction: column;
    text-align: justify;
    p {
      padding-bottom: 30px;
    }
    .signature {
      padding-top: 40px;
      width: 300px;
    }
  }
}
// END PROMISE SECTION

// CONTACT SECTION

#contact {
  @extend %white-bg;

  .row {
    .info {
      .contact-form {
        max-width: 600px;
        margin: 0 auto;

        label {
          font-family: Lora;
          margin: 0;
        }
        input, textarea {
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid #555;
        }
        .button1 {
          display: block;
          min-width: 100%;
          p {
            color: #000;
            letter-spacing: 2px;
          }
        }
      }
    }
    .intro-icon {
      margin-right: 20px;
    }
  }
}

// END CONTACT SECTION

// START FOOTER SECTION

#location {
  //border-top: .8px solid #ddd;
}

footer {
  background: #759ed8;
  color: #fff;
  @extend %true-center;

  .container-fluid {
    padding: 0 10px;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .footer-col {
      @extend %true-center;
      flex-direction: column;

      .footer-icon {
        color: #fff;
        font-size: 2rem;
        margin-bottom: 10px;
      }
    }
  }
  .container-fluid:nth-child(2) {
    margin: 0px;
    padding: 15px;
    max-width: 100%;
    background: #3f75bf;
    color: #fff;
    justify-content: center;
  }
}

// END FOOTER SECTION

// START ASSETS
//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// LINE 1

.underline1 {
  height: 2px;
  background: #000;
  margin: 0 0 2px;
  transition: all 0.25s ease;
}

// TEAM IMAGES

.team-member {
  position: relative;
  bottom: 0;
  overflow: hidden;
  margin: 0px;
  min-width: 280px;
  max-width: 450px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  background: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;

  *, *:before, *:after {
    box-sizing: border-box;
    transition: all 0.6s ease;
  }

  img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 1;
  }
  .title {
    position: absolute;
    bottom: 7%;
    left: 6%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);

    div:before, div:after {
      content: '';
      width: 3px;
      height: 450px;
      position: absolute;
      background-color: #fff;
    }
    div:before {
      top: 0px;
      right: 0;
      transform: translateY(100%);
    }
    div:after {
      bottom: 0px;
      left: 0;
      transform: translateY(-100%);
    }
  }
  .title:before, .title:after {
    content: '';
    height: 3px;
    width: 450px;
    position: absolute;
    background-color: #fff;
  }
  .title:before {
    top: 0;
    left: 0px;
    transform: translateX(100%);
  }
  .title:after {
    bottom: 0;
    right: 0px;
    transform: translateX(-100%);
  }
  h2, h4 {
    margin: 0;
    text-transform: uppercase;
  }
  h2 {
    font-family: Poppins;
    font-weight: 400;
  }
  h4 {
    display: block;
    font-family: Poppins;
    font-weight: 500;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }
  figcaption {
    opacity: 0;
    position: absolute;
    bottom: 50%;
    left: 1.9rem;
    text-align: left;
    padding: 5px 30px 5px 10px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;

    p {
      margin: 0;
    }
    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
.team-member:hover {
  //filter: sepia(40%);
  bottom: 10px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.19),
		0 7px 10px rgba(0, 0, 0, 0.23);
}
.team-member.active {
  img {
    zoom: 1;
    filter: alpha(opacity=35);
    opacity: 0.35;
  }
  .title {
    div:before, div:after {
      transform: translate(0, 0);
    }
  }
  .title:before, .title:after {
    transform: translate(0, 0);
    transition-delay: 0.15s;
  }
  figcaption {
    opacity: 1;
    transition-delay: 0.2s;
  }
}

// END TEAM IMAGES

// FLIP CARD

.flip,
.flip-side-front,
.flip-side-back {
  height: 16rem;
  width: 100%;
  max-width: 240px;
  cursor: pointer;
}
.flip {
  bottom: 0;
  margin: 0 auto;
  perspective: 150rem;
  position: relative;
  transition: all 0.25s ease;

  .flip-side-front,
  .flip-side-back {
    @extend %true-center;
    flex-direction: column;
    text-align: center;
    transition: all 0.8s ease 0.1s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    h5 {
      font-family: Lora;
      font-weight: 600;
      color: #000;
    }
    h6 {
      color: #555;
    }
    // FIX FOR IE
    h5, h6, p {
      max-width: 100%;
    }
  }
  .flip-side-front {
    //background: #9ccc65;
    transform: rotateY(0deg);
    .underline1 {
      width: 0%;
    }
  }
  .flip-side-back {
    h5 {
      color: #000;
    }
    transform: rotateY(180deg);
    .underline1 {
      width: 0%;
      margin-bottom: 10px;
    }
  }
}
.flip.active {
  .flip-side-front {
    transform: rotateY(-180deg);
    .underline1 {
      width: 60%;
    }
  }
  .flip-side-back {
    transform: rotateY(0deg);
    .underline1 {
      width: 60%;
    }
  }
}
.flip:hover {
  bottom: 5px;
  .flip-side-front {
    .circle-container {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}


// END FLIP CARD

// BUTTON 1

.button1 {
  padding: 20px;
  p {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    color: #fff;
  }
}
.button1, .button2 {
  @extend %true-center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
  transition: all 0.5s ease;

  span {
    display: block;
    position: absolute;
    transform: rotate(0deg);
    background: #3399ff;
  }
  span:nth-child(1), span:nth-child(3) {
    width: 100%;
    height: 3px;
    transition: all .4s ease;
  }
  span:nth-child(2), span:nth-child(4) {
    width: 3px;
    height: 100%;
    transition: all .3s ease .4s;
  }
  span:nth-child(1) {
    bottom: 0;
    left: 0;
  }
  span:nth-child(2) {
    bottom: 0;
    right: 0;
  }
  span:nth-child(3) {
    top: 0;
    right: 0;
  }
  span:nth-child(4) {
    top: 0;
    left: 0;
  }
}
.button1:hover {
  color: #fff !important;
  text-decoration: none;
}
.button1.active {
  background: rgba(0, 0, 0, 0.2);
  p {
      color: #fff;
  }
  span:nth-child(1), span:nth-child(3) {
    width: 0;
  }
  span:nth-child(2), span:nth-child(4) {
    height: 0;
  }
}

// BUTTON 2

.button2 {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px 22px;
  color: #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-family: Lora;
    font-size: 1.5rem;
    display: inline;
    transition: transform 0.5s ease;
  }
  .icon {
    display: inline-block;
    align-self: flex-end;
    font-size: 1.7rem;
    font-weight: 400;
    transform: rotate(135deg);
    transition: transform 0.7s ease;
  }

  span {
    background: grey;
  }
  span:nth-child(1), span:nth-child(3) {
    width: 0;
    height: 3px;
    transition: all .4s ease;
  }
  span:nth-child(2), span:nth-child(4) {
    width: 3px;
    height: 0;
    transition: all .3s ease .4s;
  }
}
.button2:hover {
  color: #000 !important;
  text-decoration: none !important;
}
.button2.active {
  color: #000 !important;
  text-decoration: none !important;

  h4 {
    // font-weight: 600;
  }
  .icon {
    // font-weight: 600;
    transform: rotate(0deg);
  }

  span:nth-child(1), span:nth-child(3) {
    width: 100%;
  }
  span:nth-child(2), span:nth-child(4) {
    height: 100%;
  }
}

// END ASSETS

// START WIDTH MEDIA QUERIES----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// COMPLEX HOVER HANDLER

@media (hover) {

  .button1:hover {
    background: rgba(0, 0, 0, 0.2);
    p {
      color: #fff;
    }

    span:nth-child(1), span:nth-child(3) {
      width: 0;
    }
    span:nth-child(2), span:nth-child(4) {
      height: 0;
    }
  }

}

// SHIFT TO MEDIUM

@media (max-width: 991px) {

  // MOBILE NAVIGATION
  nav {

    .nav {
      width: 100%;
      padding: 0 20px;

      // NAV BRAND
      &-brand {
        min-width: 200px;
      }
      // NAV BUTTON
      &-button-wrapper {
        display: block;
      }
      &-button {
        position: relative;
        opacity: 1;
      }
      // NAV LINK LIST
      &-list {
        position: absolute;
        top: $nav-height;
        left: 0;
        width: 100%;
        height: 0px;
        overflow: hidden;
        text-align: center;
        transition: all 0.8s ease;

        ul {
          background: white;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        }
        li {
          display: block;
          width: 100%;
          padding-bottom: 10px;
        }
        a {
          font-size: 1.3rem;
          width: 75%;
        }
      }
      &-list.active {
        height: 550px;
      }
    }
  }

  // CONTAINER

  .container-fluid {
    margin: 100px 0px 100px;
    padding: 0px 15px;

    // TITLE
    .section-title {

      h2 {
        font-size: 2.5rem;
        font-weight: 400;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }

  .header {
    h1 {
      font-size: 3rem;
    }
  }

  // ABOUT SECTION

  #about, #contact {
    .info {
      margin-top: 75px;
    }
    .info:nth-child(1) {
      padding: 0px !important;
      text-align: center;

      h3 {
        font-size: 2.2rem;
        padding: 0 20px;
      }
    }
    .info:nth-child(3) {
      margin-top: 55px;
      padding: 0px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        li {
          display: inline-block;
          width: 280px;
          padding: 0px;
          padding-left: 20px;
          margin: 20px;
        }
      }
    }
  }

  // SERVICES

  #services {
    .row {
      margin-top: 35px;
      .svs-col {
        padding: 25px;
      }
      .svs-col:nth-child(odd) {
        .flip {
          margin-right: 0px;
        }
      }
      .svs-col:nth-child(even) {
        .flip {
          margin-left: 0px;
        }
      }
    }
  }

  // BANNER 1

  .banner1 {
    .section-title {
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-bottom: 30px;
      }
    }
  }

  #team {
    .row {
      margin-top: 55px;
      .team-col {
        padding: 20px;
      }
    }
  }

  // FOOTER
  footer {
    .container-fluid {
      justify-content: space-around;
    }
  }

}


// SHIFT TO SMALL
@media (max-width: 575px) {

  .container-fluid {
    padding: 0px 10px;

    // TITLE
    .section-title {

      h2 {
        font-size: 2rem;
        font-weight: 400;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  .header {
    h1 {
      font-size: 2.4rem;
    }
  }

  // ABOUT SECTION

  #about, #contact {
    .info {
      margin-top: 65px;
    }
    .info:nth-child(1) {
      h3 {
        font-size: 1.7rem;
        padding: 0px;
      }
    }
    .info:nth-child(2) {
      .button2 {
        h4 {
          font-size: 1.3rem;
        }
      }
    }
    .info:nth-child(3) {
      margin-top: 50px;
      ul {
        li {
          padding-left: 0px;
        }
      }
    }
  }

  // SERVICES
  #services {
    .row {
      margin-top: 40px;
      .svs-col {
        padding: 15px;
        .flip {
          margin: 0 auto !important;
        }
      }
    }
  }

  // FOOTER
  footer {
    .container-fluid {
      justify-content: space-between;
    }
  }

}

@media (max-width: 500px) {
  .team-member {
    figcaption {
      font-size: 0.8rem !important;
    }
  }
}


// END MEDIA QUERIES
